<h3>Angular Search Filter</h3>

<div>
  <ul>
    <li>
      index:
      <input type="checkbox" [(ngModel)]="display.index">
    </li>
    <li>
      name:
      <input type="checkbox" [(ngModel)]="display.name">
    </li>
    <li>
      age:
      <input type="checkbox" [(ngModel)]="display.age">
    </li>
    <li>
      index:
      <input type="checkbox" [(ngModel)]="display.index">
    </li>
  </ul>
</div>

<input type="text" [(ngModel)]="searchTerm" (keyup)="onKeyup($event)">

<table>
  <tr>
    <th *ngIf="display.index">
      Index
    </th>
    <th *ngIf="display.index">
      gender
    </th>
    <th>
      picture
    </th>
    <th *ngIf="display.name">
      Name
    </th>
    <th *ngIf="display.age">
      Age
    </th>
    <th *ngIf="display.eyeColor">
      eyeColor
    </th>
    <th>email</th>
  </tr>
  <tr *ngFor="let item of tableData; let index = index; trackBy:trackBy" [class.active]="item.isActive">

    <td *ngIf="display.index">{{index + 1}}</td>
    <td>
      <img *ngIf="item.gender === 'male'" width="24px" src="assets/male.svg" alt="">
      <img *ngIf="item.gender !== 'male'" width="24px" src="assets/female.svg" alt="">
    </td>
    <td>
      <img [src]="item.picture" alt="">
    </td>
    <td *ngIf="display.name">
      {{item.name}}
    </td>
    <td *ngIf="display.age">
      {{item.age}}
    </td>
    <td *ngIf="display.eyeColor">
      {{item.eyeColor}}
    </td>
    <td>
      {{item.email}}
    </td>
  </tr>
</table>

<!-- {{tableData | json}} -->

<router-outlet></router-outlet>
